body {
	font-family:monospace;
	margin:0;
}
img {
	border:3px solid white;
	border-radius:10px;
}
a {
	text-decoration:none;
}

.center {
	text-align:center;
}
.Des {
	padding-top:40px;
	padding-left:50px;
}
.MinDes {
	padding-left:20px;
}
.PreDes {
	display:flex;
	align-items:center;
}
.Tesis {
	color:crimson;
}
.black {
	color:black;
}
.blue {
	color:blue;
}
.white {
	color:white;
}
.Size {
	font-size:200px;
}

#About {
	font-size:20px;
}
#Losung {
	animation-delay:0s;
	animation-duration:3s;
	animation-name:Losung;
}
#Citate {
	animation-delay:0s;
	animation-duration:3s;
	animation-name:Citate;
}

#Down {
	position:absolute;
	bottom:0;
}
#Header {
	display:flex;
	justify-content:center;
	align-items:center;
	gap:15px;
}

/* Column */
#ColumnL {
	color:black;
	background-color:lightgrey;
	width:25%;
	float:left;
}
#ColumnR {
	color:black;
	background-color:lightskyblue;
	width:75%;
	float:right;
}
#Adept {
	color:black;
	background-color:lightskyblue;
}

@keyframes Losung {
	from {
		opacity:0;
		margin-bottom:0;
	}
	to {
		opacity:1;
		margin-top:1;
	}
}
@keyframes Citate {
	from {
		opacity:0;
	}
	to {
		opacity:1;
	}
}