html {
    height:100%;
}
body {
    height:100%;
    font-family:Verdana;
    margin:0;
}
button {
    color:black;
    background-color:lightgrey;
    width:150px;
    height:40px;
    font-size:20px;
    cursor:pointer;
    border:2px solid black;
    border-radius:10px;
}
li {
    cursor:pointer;
}

.center {
    text-align:center;
}

#ColumnL {
    float:left;
    background-color:lightgrey;
    width:25%;
    height:100%;
}
#ColumnR {
    float:right;
    width:75%;
    height:100%;
}